---
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {title, description = "PayAPI Website"} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts "DM Serif Display" & "Public Sans" -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="m-0 box-border max-h-screen max-w-screen-2xl bg-[#edf3f8] p-0 text-inherit antialiased"
  >
    <slot />
    <Footer />
  </body>
</html>
